image: node:18

stages:
  - deploy

deploy_to_heroku:
  stage: deploy
  only:
    - main
  script:
    - npm install
    - git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git
    - git push heroku main --force
